[submodule "lvim"]
	path = lvim
	url = git@github.com:MycrofD/lvim.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:MycrofD/tmux.git
[submodule "wezterm"]
	path = wezterm
	url = git@github.com:MycrofD/wezterm.git
